<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Example Seeq Study</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Example Seeq Study</h3>
                </div>
            </div>
            <div>
                <div class="inner cover">
                    {% for warning in warnings %}
                    <div class="alert alert-warning">
                        {{warning}}
                    </div>
                    {% endfor %}
                    <p class="lead">We're collecting genetic data to test new algorithms! Can you help?</p>
                
                    <form name="userForm" novalidate>
                        <a href="{{url}}"class="btn btn-lg btn-default">Participate with Seeq</a>
                    </form>

                </div>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
